.Button{
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
  
    img {
      filter: brightness(0) invert(1);
      width: 24px;
    }
    
    };