.Wrapper{ 
    background-size: contain;
    position: relative;
    height: 360px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: black;
    padding-top: 30px;
  };