.billboard {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 56.25vw;
    z-index: 0;
    
   .hero_image_wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    
        .static_image {
            position: absolute;
            background-position: center center;
            background-size: cover;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            opacity: 1;
        }
    
    }
}

.rowContainer{
    position: relative;
    z-index: 0;
    .ptrack_container{
        cursor: default;
        .slider_item{
            width: 20%;
            box-sizing: border-box;
            z-index: 1;
            display: inline-block;
            position: relative;
            white-space: normal;
            vertical-align: top;
            padding: 0 0.2vw;
            .boxart_size_16x9{
                width: 100%;
                height: 0;
                position: relative;
                overflow: hidden;
                padding: 28.125% 0;
                .img{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}